.rightmain {
    display: flex;
    justify-content: flex-end;
}

.rightdrawer {
    width: 30vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.search {
    height: 10vh;
}

.subscribe {
    width: 81%;
    background-color: #8080804b;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribesub {
    width: 90%;
    text-align: start;
}

#premium {
    font-size: x-large;
    font-weight: bolder;
}

#premiumcontent {
    font-size: 15px;
    font-weight: bold;
}

.trendingdiv {
    width: 81%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8080804b;
    border-radius: 20px;
    margin-top: 3%;
}

.trendingcontent {
    width: 90%;
    text-align: start;
}
.trendingmain{
    width: 90%;
}
.trendingone {
    display: flex;
    justify-content: space-between;
    color: rgba(128, 128, 128, 0.625);
}

.trendingtwo {
    display: flex;
    text-align: start;
    font-weight: bold;
}

.trendingthree {
    display: flex;
    text-align: start;
    color: rgba(128, 128, 128, 0.625);
}